.lane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #efefef;
}

.lane__header {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #00bf80;
}

.lane__btnGroup {
  display: flex;
}

.lane__unclicked {
  margin: 5px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #efefef;
  background-color: #a9a9a9;
  border: none;
  border-radius: 4px;
  width: 125px;
  height: 325px;
  transition: 500ms;
}

.lane__clicked {
  margin: 5px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #efefef;
  background-color: #a9a9a9;
  border: 4px solid #00bf80;
  border-radius: 4px;
  width: 125px;
  height: 325px;
  transition: 500ms;
}

.lane__button {
  margin-top: 20px;
  padding: 5px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: #efefef;
  background-color: #00bf80;
  border: none;
  border-radius: 4px;
  transition: 300ms;
  width: 299.5px;
  height: 40.5px;
}

.lane__button:hover {
  opacity: 0.6;
}
